.view-page .post-info .file-selection {
    position: absolute;
    margin-left: 85%;
    height: 5%;
    width: 5%;
}

.index-main .multiple-download,
.index-main .select-all,
.index-main .deselect-all {
    display: block;
    position: absolute;
    height: 50px;
    background-color: skyblue;
    color: white;
    font-size: larger;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
    z-index: 2;
    right: 9%;
}

.index-main .multiple-download {
    width: 25%;
    bottom: 30px;
}

.index-main .select-all,
.index-main .deselect-all {
    width: 12%;
    bottom: 100px;
}

.index-main .select-all {
    right: 22%;
}

.index-main .multiple-download:hover,
.index-main .select-all:hover,
.index-main .deselect-all:hover {
    cursor: pointer;
}