.nv-bar {
    width: 100vw;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nv-bar-laptop {
    height: 50px;
}

.nv-bar:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

.nv-bar img {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 1vw;
    top: 10px;
    background-color: lightgray;
    border-radius: 5px;
}

.nv-bar-laptop img {
    width: 40px;
    height: 40px;
    top: 5px;
}

.index-main {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100px);
    width: 100vw;
}

.laptop-mode {
    height: calc(100vh - 50px);
}

.index-main .upload-panel {
    width: inherit;
    height: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
}

.contains-history .upload-panel {
    width: calc(100% * 0.8);
    border-left: 1px solid black;
}

.index-main .upload-panel .select-btn {
    width: 50%;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 100px;
    color: white;
    border-radius: 15px;
    background-color: rgb(134, 228, 134);
    font-size: xx-large;
    line-height: 100px;
}

.index-main .upload-panel .select-btn:hover {
    cursor: pointer;
    background-color: rgb(124, 218, 124);
}

.index-main .upload-panel .select-btn-text {
    background-color: rgb(30, 144, 255);
    margin-top: calc( (100vh - 500px) / 2 );
}

.laptop-mode .upload-panel .select-btn-text {
    margin-top: calc( (100vh - 450px) / 2 );
}

.index-main .upload-panel .select-btn-text:hover {
    background-color: rgb(20, 134, 245);
}

/* this will only display when laptop mode */
.index-main .show-history {
    position: absolute;
    left: 0;
    bottom: 0;
    height: calc(100% - 40px);
    width: calc((100% * 0.2) - 40px);
    text-align: left;
    padding: 20px;
    display: block;
    overflow-y: auto;
}

.post-info {
    white-space: pre-line;
    display: block;
    font-size: small;
    /* border: 1px solid black; */
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
}

.post-info span {
    font-size: medium;
    display: block;
    margin-top: 10px;
}

.post-info img {
    max-width: 100%;
    max-height: 300px;
}

.post-info .op {
    font-size: small;
    color: dodgerblue;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: unset;
    margin-right: 10px;
    display: inline-block;
}

.post-info .danger {
    color: crimson;
}

.post-info .op:hover {
    cursor: pointer;
}

.cover .panel .upload-text {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    border-radius: inherit;
    resize: none;
}

.cover .panel .upload-text:focus {
    outline: none;
}

.cover .panel .upload-file {
    position: relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    border-radius: inherit;
    text-align: left;
    padding: 50px;
}

.cover .panel .upload-file:hover {
    background-color: rgb(245, 245, 245);
}

.cover .panel .upload-file input[type='file'] {
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.cover .panel .upload-file input[type='file']:hover {
    cursor: pointer;
}

.cover .panel .upload-file .file-info {
    font-size: xx-large;
    white-space: pre-line;
    z-index: 2;
}

.index-main .view-page {
    position: absolute;
    display: block;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    top: 0;
    overflow-y: auto;
    padding: 50px;
}

.index-main .view-page .post-info {
    font-size: medium;
}

.index-main .view-page .post-info span {
    font-size: large;
}

.index-main .view-page .post-info .op {
    font-size: large;
    margin-right: 20px;
}

.index-main .view-page .no-upload {
    text-align: center;
    margin-top: 30vh;
}